@import "theme";

a {
	cursor: pointer;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	@media(min-width: 1440px) {
		max-width: 1380px;
	}
}

.react-reveal {
    opacity: 0;
}

.fadeInUp {
	animation-name: fadeInUp;
}

.btn-cta {
	background-color: $tc;
	color: $white;
	font-weight: 700;
	font-size: 20px;
	padding: 20px 25px;
	border-radius: 16px;
	transition: all 0.4s;
	&:hover {
		background-color: $tc2;
	}
}

.site-title {
	h1 {
		color: $tc;
		font-weight: 700;
		@media(min-width: 992px) {
			font-size: 60px;
		}
	}
}

@keyframes fadeInUp {
	from {
	  	opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
	from {
	  	opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}